@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container p-3">
    <br />
    <div class="row pt-4 justify-content-xl-around">
        <div class="col-6">
            <h2 class="text-primary"> Category List </h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle-fill"></i> &nbsp; Create New Category</a>
        </div>
    </div>
    <br />

</div>

<table class="table table-bordered tablestriped" style="width:100%">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Display Order</th>
            <th>DateTime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>@obj.CreatedDateTime</td>
                <td class="d-flex">
                    <div class="w-50 btn-group " role="group">
                        <a asp-controller="Category" asp-action="edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2 rounded"> <i class="bi bi-pencil-square"></i> Edit </a>
                    </div>
                    <div class="w-50 btn-group " role="group">
                        <a asp-controller="Category" asp-action="delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2 rounded"> <i class="bi bi-trash-fill"></i> Delete </a>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>